
/* General */
body,
html {
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  color: #111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	margin: 0 45px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 35px;
	width: auto;
	flex: 1 1 200px;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 35px;
   flex: 1 1 200px;
}

.column{
	margin-top: 25px;
  flex: 1 1 200px;
}

a,a:visited{
	text-decoration: none;
	color: #111
}

/* Header */
header .logo{
	margin-right: 2rem;
  margin-top: 10px;
}
header .logo a{
	font-family: 'PT Serif', serif;
  line-height: 38px;
  letter-spacing: 1px;
  color: #111;
  text-decoration: none;
  text-transform: capitalize;
}

header .about{
	font-family: 'Poppins', sans-serif;	
}

header .about h3{
  margin: 7px 0;
  font-size: 18px;
  text-transform: uppercase;
}
header .about p{
	font-size: 17px;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 25px;
}

/* Main */
main .wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
main .per{
	position: relative;
	margin-right: 2.3rem;
  padding-right: 1.5rem;
}
main .per img{
	width: 100%;
	margin-bottom: 10px;
  border: 2px solid #f7542e;
}
main .per span{
	font-family: PT Serif, serif;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	position: absolute;
  right: -34px;
  top: 34px;
	transform: rotateZ(90deg)
}
main .per h4{
	font-family: Poppins, sans-serif;
	font-size: 18px;

}
.per-2, 
.per-5{ margin-top: 6rem }

/* Footer */
footer{
  text-align: center;
  padding: 13px;
  width: 100%;
}
footer{
  text-align: center;
  padding: 43px 0 25px;
  margin: auto;
  width: 100%;
}
footer p{
  color: #555;
}
footer a{
  color: #000;
  text-decoration: underline;
}
footer a abbr{
  text-decoration: none;
}

/* Responsive */
@media (max-width: 976px){
	main .per {
		margin-right: 1.3rem;
	}
}

@media (max-width: 830px){

	header .about p{
		font-size: 14px;
		line-height: 21px;
	}

	main .wrapper {
  grid-template-columns: 1fr 1fr;
  }

  main .per img {
    margin-bottom: 13px;
	}
  .per-5{ margin-top: 25px; }
  .per-2, 
  .per-4, 
  .per-6{ margin-top: 6rem }
}

@media (max-width: 768px){
	main .per {
    margin-right: 1rem;
    padding-right: 1.5rem;
  }
  main .per span{
	font-size: 10px;
	line-height: 13px;
	position: absolute;
    right: -27px;
    top: 27px;
	}
	main .per h4{
		font-size: 14px;
		line-height: 21px;
	}
}

@media (max-width: 480px){
  main .per span{
	font-size: 9px;
	line-height: 10px;
	position: absolute;
    right: -27px;
    top: 27px;
	}
	main .per h4{
		font-size: 12px;
		line-height: 18px;
	}
}
